/*##########################
------- Variables ----------
###########################*/

:root {

	--header-height: 48px;
	--d-left-panel-width: 250px;
	--t-left-panel-width: 200px;
	--m-left-panel-width: 48px;
	--lp-btn-height: 40px;
	--d-desc-width: 250px;

	/*-------popup------------*/
	--d-popup-panel-width: 200px;
	--t-popup-panel-width: 150px;
	--m-popup-panel-width: 50%;

	/*-------font-size------------*/
	/* --fs-sm: .8rem;
	--fs-md: 1.0rem;
	--fs-lg: 1.5rem;
	--fs-xl: 2rem; */

	/*-------background-colors----*/
  	--bg-primary: #212121;
	--bg-lowPrimary: #313131;
	--bg-secondary: #ffffff;
	--bg-lowSecondary: #ffffff;

	/*-------text-color---------*/
	--tc-primary: #ffffff;
	--tc-lowPrimary: #bbbbbb;
	--tc-secondary: #212121;
	--tc-lowSecondary: #424242;
        --tc-lowSecondaryGlobal: #000000;
        --tc-lowSecondaryWarn: #24a464;
	--link-color: #337ab7;

	/*-------border & hover-------*/

	--bg-primary-hover: rgba(255,255,255,.05);
	--bg-secondary-hover: rgba(0,0,0,.05);

	--primary-border: rgba(255,255,255,.1);
	--secondary-border: rgba(0,0,0,.1);

	/*--------box-shadow-------*/
	--header-shadow-down: 0 2px 4px 0 rgba(0,0,0,.1);
	--header-shadow-up: 0 -2px 4px 0 rgba(0,0,0,.1);
}

/*#########################
--------- base -------------
##########################*/

html {
	font-size: 16px;
}

html, .full-screen, #loading {
    width: 100%;
    height: 100%;
}
/* *, *:before, *:after {
	box-sizing: border-box;
}
*:focus {
	outline: none;
} */
/* body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-secondary);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.8px;
	overscroll-behavior: contain;
	font-size: 14px;
} */
.base-container {
	/* padding-top: var(--header-height); */
	width: 100%	;
	height: 100%;
	position: relative;
}
hr, .frame-diff {
    border: none;
}
hr {
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 1px;
}
/* a {
	color: var(--link-color);
} */
label {
    display: block;
    font-weight: normal;
	margin-bottom: 4px;
	color: var(--tc-secondary);
}
textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none, inset none;
	-moz-box-shadow: none, inset none;
	box-shadow: none, inset none;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select {
    -moz-appearance:none;
    -webkit-appearance:none;
	appearance:none;
	text-overflow: ellipsis;
}
/* ::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: darkgray;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,.2); 
} */
/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */
.version {
    display:inline-block;
    margin-right:15px;
}
.about-btn {
    display: inline-block;
}
.about-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.version:hover {
    text-decoration: underline;
    cursor: pointer;
}

#app {
    display: none;
    position: fixed;
}
/* .disabled {
    pointer-events: none;
    opacity: 0.4;
} */
.enabled {
    pointer-events: unset;
    opacity: unset;
}
.oauth {
    width: 250px;
}

/*#########################
----- Common Modules -------
#########################*/

.svg-btn-base {
	display: inline-block;
	margin: calc(var(--header-height) / 8) 4px;
	padding: calc(var(--header-height) / 8);
	height: calc(var(--header-height) / 1.33);
	width: calc(var(--header-height) / 1.33);
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
}
.svg-btn-base:hover, .svg-btn-base:active {
	background-color: var(--bg-secondary-hover);
	outline: none;
}
.svg-btn-base svg {
	height: 100%;
	width: 100%;
}
.svg-btn-base svg path,
.svg-btn-base svg circle,
.svg-btn-base svg polygon {
	fill: var(--tc-lowSecondary);
}

/*#########################
-------- Loading ----------
#########################*/

#loading {
    display: block;
    background: var(--bg-secondary);
    position: relative;
}
.loading-icon {
	width: 150px;
	height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-icon img {
	width: 100%;
	height: 100%;
}
.loading-text {
	width: 100%;
    color: var(--tc-secondary);
    text-align: center;
    font-size: var(--fs-xl);
    font-weight: bold;
    position: absolute;
    bottom: 24px;
}

/*-------mobile-view-------*/
@media screen and (max-width: 750px) {
	.loading-text {
		font-size: var(--fs-lg);
		font-weight: normal;
	}
}

/*#########################
-------- Top-panel --------
#########################*/

/* .main-header-container {
	padding: 0;
	width: inherit;
	height: var(--header-height);
	background-color: var(--bg-secondary);
	position: absolute;
	top: 0;
	z-index: 99;
	-webkit-box-shadow: var(--header-shadow-down);
	-moz-box-shadow: var(--header-shadow-down);
	-o-box-shadow: var(--header-shadow-down);
	box-shadow: var(--header-shadow-down);
} */

/*-------header-title--------*/
/* .header-text-container {
	padding: 0 16px;
	display: inline-block;
	width: var(--d-left-panel-width);
	height: 100%;
	background-color: var(--bg-primary);
}
.header-text-container .app-title {
	margin: 0;
	padding: 0;
	line-height: var(--header-height);
	font-size: var(--fs-lg);
	color: var(--tc-primary);
} */

/*------control-buttons-----*/
/* .control-container {
	padding: 0 16px;
	height: inherit;
	float: right;
} */

/*-------mobile-view-------*/
@media screen and (max-width: 750px) {

	/* .base-container {
		padding-top: var(--lp-btn-height);
		padding-bottom: var(--header-height);
	} */

	/* .main-header-container {
		top: calc(100% - var(--header-height));
		-webkit-box-shadow: var(--header-shadow-up);
		-moz-box-shadow: var(--header-shadow-up);
		-o-box-shadow: var(--header-shadow-up);
		box-shadow: var(--header-shadow-up);
	} */
	/* .header-text-container {
		display: none;
	} */
	/* .control-container {
		float: none;
		display: flex;
	}
	.control-container div {
		flex: 1;
	} */
}


/*#########################
-------- Left-panel --------
#########################*/

/* .queue-buttons-block {
	padding-bottom: var(--lp-btn-height);
	width: var(--d-left-panel-width);
	height: 100%;
	display: inline-block;
	background-color: var(--bg-lowPrimary);
	position: relative;
	float: left;
} */
/* .queue {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
} */
/* .queue-row {
	padding: 4px 16px;
	border-bottom: 1px solid var(--primary-border);
	color: var(--tc-lowPrimary);
	cursor: pointer;
	font-size: var(--fs-md);
}
.queue-row:hover, .queue-row:active {
	background-color: var(--bg-primary-hover);
	color: var(--tc-primary);
} */

/*------panel-buttons-----*/
/* .queue-buttons {
	width: 100%;
	height: var(--lp-btn-height);
	background-color: var(--bg-primary);
	position: absolute;
	bottom: 0;
	z-index: 98;
	-webkit-box-shadow: var(--header-shadow-up);
	-moz-box-shadow: var(--header-shadow-up);
	-o-box-shadow: var(--header-shadow-up);
	box-shadow: var(--header-shadow-up);
}
.queue-buttons-container {
	padding: 0 4px;
	width: 100%;
	height: 100%;
	display: flex;
}
.queue-buttons-container div {
	margin: calc(var(--lp-btn-height) / 8) 0;
	padding: calc(var(--lp-btn-height) / 8);
	height: calc(var(--lp-btn-height) / 1.33);
	width: calc(var(--lp-btn-height) / 1.33);
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	flex: 1;
}
.queue-buttons-container div:hover, .queue-buttons-container div:active {
	background-color: var(--bg-primary-hover);
	outline: none;
}
.queue-buttons-container div svg {
	height: 100%;
	width: 100%;
}
.queue-buttons-container div svg path,
.queue-bottons-container div svg circle,
.queue-buttons-container div svg polygon {
	fill: var(--tc-lowPrimary);
}
.badge {
	padding: 0 2px;
	min-width: calc(var(--lp-btn-height) / 2);
	height: calc(var(--lp-btn-height) / 2);
	font-size: var(--fs-sm);
	color: var(--bg-primary);
	border-radius: 2px;
	line-height: calc(var(--lp-btn-height) / 2);
	overflow: hidden;
	position: relative;
}
.badge::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: calc(var(--lp-btn-height) / 2);
	background-color: var(--tc-lowPrimary);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.btn-drawer {
	display: none;
}
#edits-count {
	display: none;
	padding: 0 2px;
	min-width: calc(var(--lp-btn-height) / 1.66);
	height: calc(var(--lp-btn-height) / 1.66);
	background-color: var(--tc-lowPrimary);
	color: var(--bg-primary);
	border-radius: 4px;
	border: 2px solid var(--bg-primary);
	line-height: calc((var(--lp-btn-height) / 1.66) - 2px);
	font-size: var(--fs-sm);
	text-align: center;
	position: absolute;
	top: -2px;
	right: 50%;
	z-index: 99;
	transform: scale(.8) translateX(100%);
}
.next-diff {
	display: none;
	padding-left: 8px;
	width: 120px;
	height: var(--header-height);
	position: relative;
	z-index: 100;
	transform: translate(-52px, -75px);
	transition: transform 200ms ease;
	border-radius: 48px 0 0 48px;
	cursor: pointer;
	background-color: var(--bg-secondary);
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	-o-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}
.no-diff {
	transform: translate(-100%, -75px);
}
.next-diff div:hover, .next-diff div:active {
	background-color: transparent;
	outline: none;
}
.next-diff svg {
	transform: rotate(180deg);
}
.next-diff span {
	line-height: 48px;
	color: var(--tc-lowSecondary);
	font-size: var(--fs-md);
}
.next-diff:hover, .next-diff:active {
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
	-o-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
}

@media screen and (min-width: 750px) {
	.next-diff {
		display: none !important;
	}
} */

/*-------tab-view-------*/
/* @media screen and (min-width: 750px) and (max-width: 1100px) {
	.queue-buttons-block {
		width: var(--t-left-panel-width);
	} */
	/*---top-panel-title---*/
	/* .header-text-container {
		width: var(--t-left-panel-width);
	} */
/* } */

/*-------mobile-view-------*/
/* @media screen and (max-width: 750px) {
	.queue-buttons-block {
		padding-bottom: 0;
		width: var(--m-left-panel-width);
		float: right;
		position: static;
		transition: width 200ms ease-in-out;
	}
	.queue-row {
		padding: 4px 8px;
	}
	.queue-buttons {
		left: 0;
		bottom: calc(100% - var(--lp-btn-height));
		-webkit-box-shadow: var(--header-shadow-down);
		-moz-box-shadow: var(--header-shadow-down);
		-o-box-shadow: var(--header-shadow-down);
		box-shadow: var(--header-shadow-down);
	}
	.btn-drawer {
		display: inline-block;
	}
} */


/*#########################
------ frame-container ----
#########################*/

/* .frame-container {
	width: calc(100% - var(--d-left-panel-width));
	height: 100%;
	display: inline-block;
	float: right;
	overflow: hidden;
	position: relative;
} */

/*----------description---------*/
/* .description-container {
	padding: 8px;
	width: 100%;
	position: absolute;
	right: 0;
	background-color: var(--bg-secondary);
	border-bottom: solid 1px var(--secondary-border);
	opacity: 0.9;
}
.description {
	margin: 0 auto;
	width: 48%;
	display: inline-block;
	line-height: 18px;
	vertical-align: top;
}
.description div {
	width: 100%;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	color: var(--tc-secondary);
}
#userLinkSpec {
    color: black;
    text-decoration: none;
    display: inline-block;
}
#userLinkSpec:hover {
    color: #222222;
    text-decoration: underline;
    cursor: pointer;
} */

/*-------difference viewer-------*/
/* .diff-container {
	display: inline;
}
.diff-container iframe {
	width: 100%;
} */

/*-------tab-view-------*/
/* @media screen and (min-width: 750px) and (max-width: 1100px) {
	.frame-container {
		width: calc(100% - var(--t-left-panel-width));
	}
} */

/*-------mobile-view-------*/
/* @media screen and (max-width: 750px) {
	.frame-container {
		width: calc(100% - var(--m-left-panel-width));
		float: left;
	} */
	/* .description {
		width: 48%;
	}
	.description:last-child {
		width: 100%;
		display: block;
	} */
/* } */

/*#########################
-------- popup-module -----
#########################*/

.popup-base {
	width: calc(100% - var(--d-left-panel-width) - var(--sidebar-width));
	height: 100%;
	background-color: var(--bg-secondary);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	overflow: hidden;
}
.popup-header, .popup-body {
	padding: 0 16px;
	width: 100%;
}
.popup-header {
	height: var(--header-height);
	box-shadow: var(--header-shadow-down);
	position: relative;
	z-index: 201;
}
.popup-body {
	padding: 0;
	height: calc(100% - var(--header-height));
	position: relative;
	overflow: hidden;
}
.popup-title {
	display: inline-block;
	height: 100%;
	line-height: var(--header-height);
	font-size: var(--fs-lg);
	color: var(--tc-secondary);
}
.popup-control {
	display: inline-block;
	height: 100%;
	float: right;
}
.popup-body-left {
	width: calc(100% - var(--d-popup-panel-width));
	height: 100%;
	float: left;
	overflow: hidden;
}
.pbl-container {
	padding: 0 16px 10px 16px;
	width: 100%;
	height: 100%;
	float: left;
}
.pbl-content {
	padding: 16px 0;
	width: 100%;
	height: calc(100% - var(--header-height));
	border: none;
	overflow: auto;
}
.pbl-input-container {
	padding: 0;
	width: 100%;
	height: var(--header-height);
	display: flex;
}
.pbl-input, .pbl-input-send {
	margin: calc(var(--header-height) / 8) 0;
	height: calc(var(--header-height) / 1.3333);
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
}
.pbl-input {
	margin-right: 16px;
	padding: 0 8px;
	width: calc(100% - var(--header-height));
	background-color: transparent;
	color: var(--tc-secondary);
}
.pbl-input:focus {
	outline: none;
}
.pbl-input-send {
	padding: calc(var(--header-height) / 8);
	width: calc(var(--header-height) / 1.3333);
	float: right;
	cursor: pointer;
}
.pbl-input-send svg {
	width: 100%;
	height: 100%;
	fill: var(--tc-lowSecondary);
}
@media screen and (min-width: 750px) {
	.popup-body-right-shadow {
		display: none !important;
	}
	.popup-body-right {
		box-shadow: none !important;
	}
}
.popup-body-right-shadow {
	width: 100%;
	height: 100%;
  	transition: background-color 200ms ease;
	position: absolute;
	top: 0;
  	left: 0;
}
.popup-body-right {
	width: var(--d-popup-panel-width);
	height: 100%;
	float: right;
	overflow: hidden;
	background-color: var(--bg-secondary);
	border-left: 1px solid var(--secondary-border);
}
.popup-drawer-btn {
	display: none;
}
.popup-layer {
	padding: 16px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

/*-------tab-view-------*/
@media screen and (min-width: 750px) and (max-width: 1100px) {
	.popup-base {
		width: calc(100% - var(--t-left-panel-width) - var(--sidebar-width));
	}
	.popup-body-left {
		width: calc(100% - var(--t-popup-panel-width));
	}
	.popup-body-right {
		width: var(--t-popup-panel-width);
	}
}

/*-------mobile-view-------*/
@media screen and (max-width: 750px) {
	.popup-base {
		width: 100%;
		right: 0;
	}
	.popup-drawer-btn {
		display: inline-block;
	}
	.popup-body-left {
		width: 100%;
	}
	.popup-body-right {
		width: var(--m-popup-panel-width);
		position: absolute;
		top: 0;
		transition: right 200ms ease-in-out;
	}
}

/*#########################
-- i-btn-&-i-input-module --
#########################*/

.i-btn-base,
.i-input-base,
.i-select-base {
	margin-bottom: 8px;
	padding-bottom: 4px;
	width: 100%;
	border-bottom: 1px solid var(--secondary-border);
}
.i-btn-lb-container,
.i-input-li-container,
.i-select-lb-container {
	display: flex;
	width: 100%;
	color: var(--tc-secondary);
	font-size: var(--fs-md);
}
.i-btn-lable-container,
.i-input-lable-container,
.i-input2-lable-container,
.i-select-lable-container {
	line-height: 25px;
}
.i-btn-lable-container {
	width: calc(100% - 40px);
}
.i-input-lable-container {
	width: calc(100% - 75px);
}
.i-input2-lable-container {
	width: calc(100% - 125px);
}
.i-select-lable-container {
	width: calc(100% - 100px);
}
.i-btn-container {
	padding: 2.5px 0;
	width: 40px;
	height: 25px;
}
.i-input-container {
	width: 75px;
	height: 25px;
}
.i-input2-container {
	display: flex;
	width: 125px;
	height: 25px;
}
.i-select-container {
	width: 100px;
	height: 25px;
}
.i-btn-oval {
	padding: 2.5px;
	width: 40px;
	height: 20px;
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--bg-secondary-hover);
	box-shadow: inset 0 0 1px 0 var(--secondary-border);
	transition: background-color 200ms ease-in-out,
		padding-left 200ms ease-in-out;
}
.i-btn-circle {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 1px 1px 0 var(--secondary-border);
}
.i-input-container input {
	padding: 0 8px;
	width: 100%;
	height: 100%;
	background-color: var(--bg-secondary);
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
}
.minus-input,
.plus-input {
	width: 25px;
	height: 25px;
	border: 1px solid var(--secondary-border);
	text-align: center;
	cursor: pointer;
}
.minus-input {
	border-radius: 4px 0 0 4px
}
.i-input2-container input {
	padding: 0 8px;
	width: 75px;
	height: 25px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--secondary-border);
	border-left: none;
	border-right: none;
}
.plus-input {
	border-radius: 0 4px 4px 0;
}
.i-input-container input:focus,
.i-input2-container input:focus {
	outline: none;
	border: 1px solid #24a464;
}
.i-select-container select {
	width: 100%;
	padding: 0 8px;
	background-color: transparent;
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
	color: var(--tc-secondary);
}
.i-btn-disc-container,
.i-input-disc-container,
.i-select-disc-container {
	color: var(--tc-lowSecondary);
	font-size: var(--fs-sm);
}
.i-input-disc-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}
.i-input-disc-list li {
	margin: 4px 4px 0 0;
	padding: 0 8px 0 0;
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
}
.i-input-disc-list li span {
	padding: 0 8px;
	cursor: pointer;
}
.theme-select-options {
	background-color: var(--bg-secondary);
	color: var(--tc-secondary);
}

/*#########################
------- customRevert -------
#########################*/

.modal-content {
	background-color: var(--bg-secondary);
	color: var(--tc-secondary);
}
.modal-header {
	border-bottom: 1px solid var(--secondary-border);
}
.modal-header .close {
	opacity: 1;
	font-size: var(--fs-lg);
}
.modal-header .close span {
	color: var(--tc-secondary);
	text-shadow: none;
}
.modal-header .close span:focus,
.modal-header .close span:hover {
	color: var(--tc-lowSecondary);
}
.modal-footer {
	border-top: 1px solid var(--secondary-border);
}
.modal-content input {
	margin: calc(var(--header-height) / 8) 0;
	padding: 0 8px;
	width: 100%;
	height: calc(var(--header-height) / 1.3333);
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
	background-color: transparent;
	color: var(--tc-secondary);
}
.modal-content input:focus {
	outline: none;
}
.modal-content .panel-group {
	margin-bottom: 0;
}
.modal-content .panel {
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.modal-content .panel-collapse {
	display: block;
}
.panel-body {
	padding: 0;
}
.panel-body .queue {
	overflow: hidden;
}
.panel-cr-reasons {
	margin: 4px 4px 0 0;
	display: inline-block;
	overflow: hidden;
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
	cursor: pointer;
}
.panel-cr-reasons div {
	padding: 4px 8px;
	font-size: var(--fs-sm);
}

.warn-box {
	display: inline-block;
	margin-left: 4px;
	padding: 0 12px;
	border-radius: 4px;
	cursor: pointer;
}
.warn-box label {
	margin: auto;
	color: var(--tc-secondary);
	font-size: var(--fs-sm);
	text-align: center;
	cursor: pointer;
}
.warn-on {
	border: 1px solid #24a464;
}
.warn-off {
	border: 1px solid #d9534f;
}

/*#########################
--------- editForm -------
#########################*/

/* .form-edit {
	width: 100%;
	height: 100%;
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
	resize: none;
	background-color: transparent;
	color: var(--tc-lowSecondary);
}
.form-edit:focus {
	border: 1px solid #24a464;
	outline: none;
} */
.tag-heading, .btn-delete-reasons {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	color: var(--tc-secondary);
}
.delete-reason {
	width: 100%;
	display: block;
}
.delete-reason a {
	color: var(--link-color);
	cursor: pointer;
}

/*#########################
--------- settings -------
#########################*/

.popup-layer a {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ui-switch {
	display: inline-block;
}
.ns-fc span.select2 {
	position: static !important;
}
.ns-fc span.select2 span.select2-selection {
	min-height: unset !important;
	background-color: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	cursor: default !important;
}
.ns-fc span.select2 span.select2-selection ul {
	padding: 0 !important;
}
.ns-fc span.select2 span.select2-selection ul li.select2-search {
	width: 125px !important;
	height: 25px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	position: absolute !important;
	top: 0;
	right: 0;
}
.ns-fc span.select2 span.select2-selection ul li.select2-search input {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0 8px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
}
.ns-fc span.select2 span.select2-selection ul li.select2-search input:focus {
	outline: none;
	border: 1px solid #24a464;
}
.ns-fc span.select2 span.select2-selection ul li {
	margin: 4px 4px 0 0;
	padding: 0 8px;
	background-color: transparent;
	border: 1px solid var(--secondary-border);
	border-radius: 4px;
}
.ns-fc span.select2 span.select2-selection ul li span {
	margin-right: 8px;
	color: var(--tc-lowSecondary);
}
span.select2-dropdown {
	background-color: transparent;
	border: none;
	border-radius: 0;
}
span.select2-dropdown ul {
	width: 125px;
	float: right;
	transform: translateY(-45px);
	background-color: var(--bg-secondary);
	color: var(--tc-lowSecondary);
	border: 1px solid var(--secondary-border);
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: var(--bg-secondary-hover) !important;
}
/*#########################
-------- talk -------
#########################*/

/* .talk-list {
	width: 100%;
	height: 100%;
	border: none;
} */
/* .phrase-talk {
    margin-bottom: 4px;
    text-overflow: ellipsis;
	overflow: hidden;
	color: var(--tc-lowSecondary);
}
.phrase-line1 {
    float: left;
	padding-right: 4px;
}
.phrase-line2 {
    float: left;
	padding-right: 4px;
}
.phrase-line3 a {
	text-decoration: underline;
}
.days-ago-talk-flex {
    display: flex;
}
.days-ago-talk {
    color: darkgray;
    margin-bottom: 5px;
    margin-top: 5px;
}
.days-ago-talk-LL,
.days-ago-talk-RL {
	flex: 1;
	border-bottom: 1px solid var(--secondary-border);
	transform: translateY(-50%);
}
.days-ago-talk-LL {
	margin-right: 8px;
}
.days-ago-talk-RL {
	margin-left: 8px;
} */

/*----------usernames---------*/

/* .user-container {
	display: flex;
}
.user-talk {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	color: var(--tc-secondary);
	cursor: pointer;
	flex: 1;
}
.user-talk-CA {
	color: var(--link-color);
} */

/*#########################
-------- about -------
#########################*/

.about {
    position: absolute;
    right: 10px;
    top: 5px;
}
.about-frame {
    overflow-y: scroll;
}
.about-frame {
    width:100%;
}
.about-frame {
    height: 130px;
    max-height: 130px;
}
@media screen and (min-height: 400px) {
    .about-frame {
        height: 250px;
        max-height: 250px;
    }
}
@media screen and (min-height: 550px) {
    .about-frame {
        height: 300px;
        max-height: 300px;
    }
}
@media screen and (min-height: 670px) {
    .about-frame {
        height: 400px;
        max-height: 400px;
    }
}
@media screen and (min-height: 1000px) {
    .about-frame {
        height: 600px;
        max-height: 600px;
    }
}


/*#########################
-------- logs -------
#########################*/

.log-box-btn-container {
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
}
.log-box-btn-container button {
	margin: 8px 0 0;
	padding: 4px 16px;
	border: 1px solid var(--secondary-border);
	background-color: transparent;
	color: var(--tc-secondary);
	font-size: var(--fs-md);
	border-radius: 4px;
	box-shadow: none;
}
#nextLogs {
	background-color: var(--bg-lowPrimary);
	color: var(--tc-primary);
}

#actionSelector {
	position: absolute;
	width: 82px;
	height: calc(var(--header-height) / 1.3333);
	margin: calc(var(--header-height) / 8) 0;
	padding: 0 8px;
	border: none;
	border-right: 1px solid var(--secondary-border);
	background-color: transparent;
	color: var(--tc-secondary);
}
#actionSelector option {
	background-color: var(--bg-secondary);
	color: var(--tc-secondary);
}

/*-------log table | php/logs.php-------*/
/* .logs-table {
	width: 100%;
	color: var(--tc-lowSecondary);
}
.logs-table .lt-row:nth-child(even) {
	background-color: var(--bg-secondary-hover);
}
.lt-row, .lt-col {
	display: flex;
}
.lt-sub-col {
	flex-grow: 0;
	padding: 4px 8px;
}
.lt-col3, .sno, .wiki, .title {
	flex-grow: 1;
}
.sno, .user a, .action, .wiki, .title a, .date {
	word-break: break-word;
}
.lt-col1 {
	width: 50px;
} */
/*-------log table>>borders | php/logs.php-------*/
/* .lt-header {
	border: 1px solid var(--secondary-border) !important;
}
.lt-row {
	border: 1px solid var(--secondary-border);
	border-top: none;
}
.user, .action, .wiki, .title, .date {
	border: 1px solid var(--secondary-border);
	border-top: none;
	border-right: none;
	border-bottom: none;
}

@media screen and (max-width: 950px) {
	.lt-col {
		flex-direction: column;
	}
	.lt-col2 {
		width: 90px;
	}
	.action, .title {
		border: 1px solid var(--secondary-border);
		border-right: none;
	}
	.title {
		border-top: none;
	}
	.lt-col.lt-col3 {
		width: calc(100% - 140px)
	}
}
@media screen and (min-width: 950px) {
	.user, .action, .wiki {
		width: 90px;
	}
	.wiki {
		width: 120px
	}
	.date {
		width: 170px;
	}
	.lt-col.lt-col3 {
		width: calc(100% - 430px);
	}
	.lt-sub-col.title {
		width: calc(100% - 170px);
	}
} */