.talk-svg:only-child { display: flex !important; }
.talk-svg {
    margin-top: 200px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .3;
}
.phrase-talk {
    margin-bottom: 16px;
	overflow: hidden;
    white-space: nowrap;
    
    display: grid;
    grid-template-columns: 0fr 0fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0px var(--side-padding);
    grid-template-areas: 
        'phrase-cap phrase2 phrase1'
        'phrase-cap phrase3 phrase3';
}
.phrase-talk > * {
    white-space: normal;
}
.phrase-cap {
    grid-area: phrase-cap;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: var(--fs-md);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.phrase-line1,
.phrase-line2 {
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.phrase-line1 {
    grid-area: phrase1;
}
.phrase-line2 {
    grid-area: phrase2;
    cursor: pointer;
}
.phrase-line3 {
    grid-area: phrase3;
}
.phrase-line3 a {
	text-decoration: underline;
}
.days-ago-talk {
    margin: 0 0 var(--side-padding) 0;
    text-align: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.days-ago-talk:not(:nth-child(2)) {
    margin-top: 24px
}

.days-ago-talk::after {
    content: "";
    height: 1px;
    background-color: var(--bc-secondary-low);
    flex: 1;
    margin-left: 8px
}

/*----------usernames---------*/
.user-count-header {
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.user-count-header > .count-line {
    flex: 1;
    height: 1px;
    background: var(--bc-secondary-hover);
    margin-left: 8px;
}
.user-list > div {
    margin-bottom: 4px;
}
.user-container {
	display: flex;
}
.user-talk {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	color: var(--tc-secondary);
	cursor: pointer;
	flex: 1;
}
.user-talk-CA {
	color: var(--link-color);
}