.left-align-container {
    max-width: 750px;
    margin: auto;
    padding: 0 var(--side-padding);
}

@media screen and (min-width: 1150px) {

    .left-align-container {
        margin-left: 200px;
    }
}
/*-------floatbar------*/
.floatbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 2 * var(--side-padding));
    height: var(--floatbar-height);
    border-radius: 8px;
    box-shadow: var(--floatbar-shadow);
}

/*-----i-base-------*/
.i__base {
    margin-bottom: 16px;
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        'i__title i__content'
        'i__description i__description'
        'i__extra i__extra';
}
.i__title,
.i__content {
    display: flex;
    align-items: center;
}
.i__description,
.i__extra { padding-top: 4px; opacity: .8; }
.i__title { grid-area: i__title; }
.i__content { grid-area: i__content;}
.i__description { grid-area: i__description; }
.i__extra { grid-area: i__extra; }
.i__content > [class^="i-input"] {
    width: 75px;
    height: 25px;
}
.i__content input:nth-child(2) { border-radius: 0; }
.i-minus,
.i-plus {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bc-mid);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.i-minus { border-radius: 4px 0 0 4px; }

/*---t-btn----*/
[class^="t-btn"] {
    width: 48px;
    height: 24px;
    padding: 4px;
    border-radius: 12px;
    box-shadow: inset 0 0 1px 0 var(--bc-secondary-hover);
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    background-color: var(--bc-mid);
    direction: ltr;
}

[class^="t-btn"]::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 var(--secondary-border);
    transition: transform 200ms ease-in-out;
}
.t-btn__primary::before { background-color: white !important; }
.t-btn__secondary::before { background-color: white !important; }

.t-btn__active { background-color: var(--bc-positive); }
.t-btn__active::before { transform: translate(calc(100% + 8px)); }

/*---- i-checkbox----*/
.i-checkbox {
    background-color: var(--bc-mid);
    width: 24px;
    height: 24px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.i-checkbox__active { background-color: var(--bc-positive); }
.i-checkbox__active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 8px;
    border: 6px solid white;
    border-width: 0 0 3px 3px;
    transform: rotateZ(-45deg) translate(1px, -1px);
}

/*---- i--select ----*/
.i-select__primary,
.i-select__secondary {
    padding: 0 8px;
    width: 106px;
    height: 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--bc-mid);
}
.i-select__primary { box-shadow: inset 0 0 1px 0 var(--bc-primary-hover); }
.i-select__secondary { box-shadow: inset 0 0 1px 0 var(--bc-secondary-hover); }
.i-select__primary option { background-color: var(--bc-primary); }
.i-select__secondary option { background-color: var(--bc-secondary); }

/*---- i-input ---*/
[class^="i-input"],
[class^="i-textarea"] {
    padding: 0 8px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: var(--bc-mid);
}
[class^="i-textarea"] {
    min-height: 150px;
    height: unset;
    resize: vertical;
}
.i-input__primary,
.i-textarea__primary { box-shadow: inset 0 0 1px 0 var(--bc-primary-hover); }
.i-input__secondary,
.i-textarea__secondary { box-shadow: inset 0 0 1px 0 var(--bc-secondary-hover); }
[class^="i-input"]:focus,
[class^="i-textarea"]:focus { box-shadow: inset 0 0 0 1px var(--bc-positive); }

/*---- i-btn ----*/
[class^="i-btn"],
[class^="o-btn"] {
    padding: 0 var(--side-padding);
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1); */
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
[class^="i-btn"]::-moz-focus-inner,
[class^="o-btn"]::-moz-focus-inner { border: 0; }
.o-btn__accent, .o-btn__primary, .o-btn__secondary, .o-btn__positive, .o-btn__negative {
    height: 48px;
    background-color: var(--bc-secondary-hover);
    border-radius: 24px;
}
[class^="i-btn"] > img:first-child,
[class^="o-btn"] > img:first-child {
    margin-right: 8px; width: 14px; height: 14px;
}
.o-btn__circle { width: 48px; }
.o-btn__circle > img { margin: 0 !important; }
.i-btn__accent,
.o-btn__accent { background-color: var(--bc-accent); color: var(--tc-accent) !important; }
.i-btn__primary-outlined { border: 1px solid var(--bc-primary-hover); color: var(--tc-primary); }
.i-btn__secondary-outlined { border: 1px solid var(--bc-secondary-hover);  color: var(--tc-secondary); }
.i-btn__positive,
.o-btn__positive { background-color: var(--bc-positive); color: white !important; }
.i-btn__negative,
.o-btn__negative { border: 1px solid rgb(251, 47, 47, 20%); color: var(--tc-negative) !important; }
.o-btn__primary { background-color: var(--bc-primary-low); color: var(--tc-primary); }
.o-btn__secondary { background-color: var(--bc-secondary-low); color: var(--tc-secondary); }


/*----- i-chip-list ----*/
.i-chip-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}
.i-chip-list li {
	margin: 4px 8px 4px 0;
    padding: 2px 8px;
    box-shadow: 0 0 1px 0 var(--bc-secondary-hover);
    background-color: var(--bc-mid);
	border-radius: 4px;
}
.i-chip-list li span {
	padding: 0 8px 0 0;
	cursor: pointer;
}

/*---- UL list ---*/ 
.i-ul { margin: 8px 0; padding-left: 1em; list-style: none; }
html[dir="rtl"] .i-ul { padding-right: 1em; }
.i-ul li { padding: 2px 0; }
.i-ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
html[dir="rtl"] .i-ul li::before { margin-left: 0; margin-right: -1em; }
.i-ul li.i-ul__imp::before { color: #d9534f; }
.i-ul label.i-ul__subheader { margin: 16px 0 8px -1rem; }
.list-container {
    margin: var(--side-padding) 0;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: var(--floatbar-shadow);
}
.list-container > label:first-child {
    border-bottom: 1px solid var(--bc-secondary-hover);
    padding-bottom: 8px;
}
/*---- vr-line----*/
[vr-line] {
    width: 1.2px;
    height: calc(var(--floatbar-height) / 1.8);
    background-color: var(--bc-secondary-hover);
}
[vr-line="primary"] { background-color: var(--bc-primary-hover); }
[vr-line="secondary"] { background-color: var(--bc-secondary-hover); }
[vr-line="accent"] { background-color: var(--bc-accent-hover); }
/*----Tooltips------*/
[i-tooltip] {
    position: relative;
}

[i-tooltip]::before,
[i-tooltip]::after {
    transition: visibility 0ms ease-in 500ms;
    visibility: hidden;
    white-space: pre;
    background-color: var(--tc-secondary);
    color: var(--bc-secondary);
    
    position: absolute;
    z-index: 99;
}
.primary-cont [i-tooltip]::before,
.primary-cont [i-tooltip]::after {
    background-color: var(--tc-primary);
    color: var(--bc-primary);
}

[i-tooltip]::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
[i-tooltip]::after {
    content: attr(aria-label);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: var(--fs-md);
}
@media (hover: hover) {
    [i-tooltip]:hover::before,
    [i-tooltip]:hover::after {
        visibility: visible;
    }
}
[i-tooltip]:active::before,
[i-tooltip]:active::after {
    visibility: visible;
}

[i-tooltip|="top"]::after,
[i-tooltip|="bottom"]::after { margin: 4px 0;}

[i-tooltip|="right"]::after,
[i-tooltip|="left"]::after { margin: 0 4px; }

/*label + triangle*/
[i-tooltip|="top"]::before,
[i-tooltip|="top"]::after { bottom: 100%; }
[i-tooltip|="right"]::before,
[i-tooltip|="right"]::after { left: 100%; }
[i-tooltip|="bottom"]::before,
[i-tooltip|="bottom"]::after { top: 100%; }
[i-tooltip|="left"]::before,
[i-tooltip|="left"]::after { right: 100%; }

/*triangle*/
[i-tooltip="top"]::before,
[i-tooltip="bottom"]::before { left: calc(50% - 2.82px); }
[i-tooltip="right"]::before,
[i-tooltip="left"]::before { top: calc(50% - 2.82px); }

[i-tooltip="top-left"]::before,
[i-tooltip="bottom-left"]::before { left: 4px; margin-left: 8px; }
[i-tooltip="top-right"]::before,
[i-tooltip="bottom-right"]::before { right: 4px; margin-right: 8px; }
[i-tooltip="right-top"]::before,
[i-tooltip="left-top"]::before { top: 4px; margin-top: 5px; }
[i-tooltip="right-bottom"]::before,
[i-tooltip="left-bottom"]::before { bottom: 4px; margin-bottom: 5px; }

/*label*/
[i-tooltip="top"]::after,
[i-tooltip="bottom"]::after { left: 50%; transform: translateX(-50%); }
[i-tooltip="right"]::after,
[i-tooltip="left"]::after { top: 50%; transform: translateY(-50%); }

[i-tooltip="right-top"]::after,
[i-tooltip="left-top"]::after { top: 4px; }
[i-tooltip="right-bottom"]::after,
[i-tooltip="left-bottom"]::after { bottom: 4px; }
[i-tooltip="top-left"]::after,
[i-tooltip="bottom-left"]::after { left: 4px; }
[i-tooltip="top-right"]::after,
[i-tooltip="bottom-right"]::after { right: 4px; }