#notificationPanel .po__content-body {
    padding: 0 !important;
}

.noti-base {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        'n-img n-title n-cross'
        'n-img n-content n-content'
        'n-img n-buttons n-buttons';
    grid-column-gap: 16px;
    border-bottom: 1px solid var(--bc-secondary-low);
    padding: var(--side-padding);
}

.noti-img {
    grid-area: n-img;
    background-color: var(--bc-secondary-low);
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.noti-img > img {
    width: 20px;
    height: 20px;
    padding: 2px;
}
.noti-title {
    grid-area: n-title;
    display: flex;
    align-items: center;
    min-height: 32px;
}
.noti-cross {
    grid-area: n-cross;
    width: 32px;
    height: 32px;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 8px;
}
.noti-content {
    grid-area: n-content;
}
.noti-buttons {
    grid-area: n-buttons;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}
.noti-buttons > [class^="i-btn"] {
    margin-right: 8px;
    padding: 0 12px;
    height: 28px;
    border-radius: 28px;
    font-size: var(--fs-sm);
}