<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <link href='https://tools-static.wmflabs.org/fontcdn/css?family=Roboto|Montserrat' rel='stylesheet' type='text/css'>
        <style>
        	body {
        		margin: 0;
        		padding: 0;
        		font-family: 'Roboto', sans-serif;
        	}
    	</style>
	</head>
	<body>
		<div>
			<a rel='noopener noreferrer' target='_blank' href='https://meta.wikimedia.org/wiki/SWViewer'>Desktop version</a><br>
			<a rel='noopener noreferrer' target='_blank' href='https://github.com/SiarheiGribov/SWViewer'>Source code</a><br>
			<a href='https://tools.wmflabs.org/swviewer/php/stats.php' rel='noopener noreferrer' target='_blank'>Statistics</a><br><br>

			Caution! Big internet traffic. Internet Explorer/Microsoft Edge is not supported yet.<br>
			Any questions, please <a href='https://meta.wikimedia.org/wiki/Talk:SWViewer' rel='noopener noreferrer' target='_blank'>ask here</a>.<br><br>

			Privacy: Application saves only name of your account, <a rel='noopener noreferrer' target='_blank' href='https://imgur.com/a/lUkI1v7'>settings</a>, count of logins, date of last login and contents of the chat.<br><br>

			Licensing:<br>
			Copyright &#169; 2017-2019<br><br>

			Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br><br>

			The above copyright notice and this permission notice shall be included in all
			copies or substantial portions of the Software.<br><br>

			THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br><br>

			Clap2.aif: <a rel='noopener noreferrer' target='_blank' href='https://freesound.org/people/ramjac/sounds/21180/'>license and author</a><br>
			Bootstrap v.3.3: <a rel='noopener noreferrer' target='_blank' href='https://github.com/twbs/bootstrap/blob/master/LICENSE'>license and author</a><br>
			Authorization and rollback are based on <a rel='noopener noreferrer' target='_blank' href='https://tools.wmflabs.org/oauth-hello-world/index.php?action=download'>this code</a><br>
		</div>
	</body>
</html>