<span id='appname' class='custom-lang'>[about-frame-app]</span> <span id='appdoc' class='custom-lang'>[about-frame-doc]</span> <span id='appq' class='custom-lang'>[about-frame-q]</span> <span id='traffic' class='custom-lang'>[about-frame-traffic]</span><br>

<p class='custom-lang' style='margin-bottom: 10px; font-weight: bold'>[about-frame-privacy-title]</p>
<span class='custom-lang' style='font-weight: bold; font-style: italic; margin-left: 7px'>[about-frame-disc]</span><br>
<div class='custom-lang'>[about-frame-disc-1]</div>
<div class='custom-lang'>[about-frame-disc-2]</div>
• <a class='custom-lang' href='https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use' rel='noopener noreferrer' target='_blank'>[about-frame-wmcstou]</a> • <a class='custom-lang' href='https://meta.wikimedia.org/wiki/Special:MyLanguage/Privacy_policy' rel='noopener noreferrer' target='_blank'>[about-frame-wmprivacy]</a><br><br>
<span class='custom-lang' style='font-weight: bold; font-style: italic;  margin-left: 7px'>[about-frame-data]</span><br>
<span class='custom-lang'>[about-frame-data-desc]</span>
<ul>
    <li><span class='custom-lang'>[about-frame-data-username]</span><sup style='font-size:x-small'>1</sup></li>
    <li><span class='custom-lang'>[about-frame-data-talk]</span><sup style='font-size:x-small'>2</sup>&nbsp;<sup style='font-size:x-small'>3</sup></li>
    <li><span class='custom-lang'>[about-frame-data-access]</span><sup style='font-size:x-small'>1</sup>&nbsp;<sup style='font-size:x-small'>3</sup></li>
    <li><span class='custom-lang'>[about-frame-data-settings]</span><sup style='font-size:x-small'>1</sup></li>
    <li><span class='custom-lang'>[about-frame-data-stats]</span><sup style='font-size:x-small'>2</sup></li>
    <li><span class='custom-lang'>[about-frame-data-logs]</span><sup style='font-size:x-small'>2</sup></li>
</ul>
<sup style='font-size:x-small'>1</sup> <span class='custom-lang'>[about-frame-data-ref-1]</span><br>
<sup style='font-size:x-small'>2</sup> <span class='custom-lang'>[about-frame-data-ref-2]</span><br>
<sup style='font-size:x-small'>3</sup> <span class='custom-lang'>[about-frame-data-ref-3]</span>

<p class='custom-lang' style='margin-bottom: 10px; font-weight: bold'>[about-frame-cookies-title]</p>
<span class='custom-lang'>[about-frame-cookies-desc]</span>

<p class='custom-lang' style='margin-bottom: 10px; font-weight: bold'>[about-frame-licensing]</p>
Copyright &#169; <a href='https://meta.wikimedia.org/wiki/SWViewer/members' rel='noopener noreferrer' target='_blank'>Team</a> SWViewer, 2016-2021; MIT License<br>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

bump.wav: <a class='custom-lang' rel='noopener noreferrer' target='_blank' href='https://freesound.org/people/kwahmah_02/sounds/268825/'>[about-frame-attrib]</a><br>
message.mp3: <a class='custom-lang' rel='noopener noreferrer' target='_blank' href='https://freesound.org/people/elmasmalo1/sounds/377017/'>[about-frame-attrib]</a><br>
privateMessage.mp3: <a class='custom-lang' rel='noopener noreferrer' target='_blank' href='https://freesound.org/people/rhodesmas/sounds/342749/'>[about-frame-attrib]</a><br>

<p class='custom-lang' style='margin-bottom: 10px; font-weight: bold'>[about-frame-translating]</p>
<span id="tw2" class='custom-lang'>[about-frame-translators-tw]</span>
<div id='tw' style='display: none;'>
    <span class='custom-lang'>[about-frame-translators-list]</span>
    <ul id='tl'></ul>
</div>
