<html id="parentHTML">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../css/base/fonts.css">
    <link rel="stylesheet" href="./../css/base/variables.css">
    <link rel="stylesheet" href="./../css/base/base.css">
    <link rel="stylesheet" href="./../css/components/comp.css">
    <style type="text/css">

        body {
            margin: 0;
            padding: var(--side-padding);
            width: 100%;
        }
        .welcome-box { max-width: 788px; }
        .stat-search__base { margin: var(--side-padding) 0; display: flex; }
        .stat-search__base > input { flex: 1; margin-right: var(--side-padding); }
        html[dir="rtl"] .stat-search__base > input { margin-right: 0; margin-left: var(--side-padding); }

        .stat-container {
            margin-bottom: var(--side-padding);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .stat-container > div {
            /*flex: 1 1;*/
            padding: 8px 16px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .stat-container > div span:first-child {
            font-weight: bold;
            padding-bottom: 8px;
            color: var(--tc-secondary-low);
        }
    </style>
</head>

<body class="secondary-cont secondary-scroll">
<label id="welcomeLabel" class="fs-xl" style="font-weight: bold;"><span class="custom-lang">[welcome-frame-title]</span>&nbsp;<span id="welcome-title-user"></span></label>
<div class="welcome-box">
    <form id="statForm" class="stat-search__base">
        <input id="statInput" class="i-input__secondary secondary-placeholder fs-md custom-lang" type="text" autocomplete="off" placeholder="[welcome-frame-placeholder]">
        <button class="i-btn__accent accent-hover fs-md custom-lang" type="submit">[welcome-frame-button]</button>
    </form>
    <div id="statContainer" class="stat-container">
        <div>
            <span id="rollbackSpan" class="fs-lg" style="color: #c8b40e;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-rollback]</span>
        </div>
        <div>
            <span id="undosSpan" class="fs-lg" style="color: #db24b0;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-undo]</span>
        </div>
        <div>
            <span id="delSpan" class="fs-lg" style="color: #672dd2;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-del]</span>
        </div>
        <div>
            <span id="editsSpan" class="fs-lg" style="color: #2dd280;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-edit]</span>
        </div>
        <div>
            <span id="warnSpan" class="fs-lg" style="color: #d92c26;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-warn]</span>
        </div>
        <div>
            <span id="reportSpan" class="fs-lg" style="color: #e3791c;">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-report]</span>
        </div>
        <div>
            <span id="protectSpan" class="fs-lg" style="color: #1cb3e3">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-protect]</span>
        </div>
        <div>
            <span id="totalSpan" class="fs-lg">0</span>
            <span class="fs-sm custom-lang">[welcome-frame-total]</span>
        </div>
    </div>

    <div class="list-container">
        <label class="fs-md custom-lang">[welcome-frame-reminder]</label>
        <ul class="i-ul fs-sm">
            <li class="i-ul__imp custom-lang">[welcome-frame-reminder-cache]</li>
            <li class="custom-lang">[welcome-frame-reminder-respons]</li>
            <li class="i-ul__imp custom-lang">[welcome-frame-reminder-warns]</li>
            <li><span id="welcome-bugs" class="custom-lang">[welcome-frame-reminder-bugs]</span>&nbsp;<span class="custom-lang">[welcome-frame-reminder-screens]</span></li>
        </ul>
    </div>
    <div class="list-container">
        <label class="fs-md custom-lang">[welcome-frame-tips]</label>
        <ul class="i-ul fs-sm">
            <li><span id="welcome-pwa" class="custom-lang">[welcome-frame-tips-pwa]</span></li>
            <li><span id="welcome-manual" class="custom-lang">[welcome-frame-tips-manual]</span></li>
        </ul>
    </div>
    <div class="list-container">
        <label class="fs-md custom-lang">[welcome-frame-links]</label>
        <ul class="i-ul fs-sm">
            <li class="i-ul__imp">
                <span id="changelog" class="custom-lang">[welcome-frame-changelog]</span>
            </li>
            <li>
                <span id="welcome-contact" class="custom-lang">[welcome-frame-irc]</span>
            </li>

            <li>
                <span id="tagger" class="fs-sm custom-lang">[welcome-frame-tagger]</span>
            </li>
            <li>
                <span id="changelog" class="custom-lang">[welcome-frame-translation]</span>
                <a class="fs-sm" href='https://translate.google.com/#auto/en/' rel='noopener noreferrer' target='_blank'>Google</a>,
                <a class="fs-sm" href='https://translate.yandex.com/' rel='noopener noreferrer' target='_blank'>Yandex</a>,
                <a class="fs-sm" href='http://www.online-translator.com' rel='noopener noreferrer' target='_blank'>Promt</a>,
                <a class="fs-sm" href='https://www.bing.com/translator' rel='noopener noreferrer' target='_blank'>Bing</a>,
                <a class="fs-sm" href='https://www.deepl.com/en/translator' rel='noopener noreferrer' target='_blank'>DeepL</a>
            </li>
        </ul>
    </div>
</div>
<script async>
    function setTheme(THEME) {
        let root = document.documentElement;
        Object.keys(THEME).forEach((item) => root.style.setProperty(item, THEME[item]));
    }

    function getMessage(event) {
        if (event.origin !== 'https://swviewer.toolforge.org') return;
        if (event.data.THEME && event.data.user) {
            setTheme(event.data.THEME);
            if (!(document.getElementById('welcome-title-user').childNodes.length < 1)) return;
            let userTag = document.createElement('span');
            userTag.textContent = event.data.user;
            userTag.style.cursor = 'pointer';
            userTag.addEventListener('click', () =>{
                if (document.getElementById('statInput').value == event.data.user) document.getElementById('statInput').value = '';
                else document.getElementById('statInput').value = event.data.user;
                searchStat(null, window.parent.locale);
            });
            document.getElementById('welcome-title-user').append(userTag);
        }
        if (event.data.lang && event.data.orient && event.data.messages) {

            var els = document.getElementsByClassName("custom-lang");

            document.getElementById("parentHTML").setAttribute("dir", event.data.orient);
            document.getElementById("parentHTML").setAttribute("lang", event.data.lang);

            for (el in els) {
                if (els.hasOwnProperty(el)) {
                    var attrs = els[el].attributes;
                    for (l in attrs) {
                        if (attrs.hasOwnProperty(l)) {
                            if (typeof attrs[l].value !== "undefined" && attrs[l].value !== 0 && attrs[l].value !== null)
                                if (event.data.messages.hasOwnProperty(attrs[l].value.replace("[", "").replace("]", "")))
                                    els[el].setAttribute(attrs[l].name, event.data.messages[attrs[l].value.replace("[", "").replace("]", "")]);
                        }
                    }

                    if (typeof els[el].value !== "undefined" && els[el].value !== 0 && els[el].value !== null)
                        if (event.data.messages.hasOwnProperty(els[el].value.replace("[", "").replace("]", "")))
                            els[el].value = event.data.messages[els[el].value.replace("[", "").replace("]", "")];

                    if (typeof els[el].textContent !== "undefined" && els[el].textContent !== 0 && els[el].textContent !== null)
                        if (event.data.messages.hasOwnProperty(els[el].textContent.replace("[", "").replace("]", "")))
                            els[el].textContent = event.data.messages[els[el].textContent.replace("[", "").replace("]", "")];
                }
            }

            sandwichLocalisationWelcome(document, event.data.orient, document.getElementById("welcome-bugs").textContent, document.getElementById('welcome-bugs'), "$1", 4, "inline", "B", "https://meta.wikimedia.org/wiki/Talk:SWViewer");
            sandwichLocalisationWelcome(document, event.data.orient, document.getElementById("welcome-pwa").textContent, document.getElementById('welcome-pwa'), "$1", 4, "inline", "Pwa", "https://meta.wikimedia.org/wiki/Special:MyLanguage/SWViewer#Install_PWA");
            sandwichLocalisationWelcome(document, event.data.orient, document.getElementById("welcome-manual").textContent, document.getElementById('welcome-manual'), "$1", 4, "inline", "Manual", "https://www.mediawiki.org/wiki/Special:MyLanguage/Manual:SWViewer");
            sandwichLocalisationWelcome(document, event.data.orient, document.getElementById("changelog").textContent, document.getElementById('changelog'), "$1", 4, "inline", "Ch", "https://meta.wikimedia.org/wiki/SWViewer/changelog");

            var baseContent = document.getElementById('tagger'); const localMessage = baseContent.textContent;
            const parsedMessage = (event.data.orient === 'ltr') ? localMessage.match(/^(.*?)\[\$1\|(.*?)\](.*?)\[\$2\|(.*?)\](.*)$/) : localMessage.match(/^(.*?)\[\$\s?1\s?\|\s?(.*?)\](.*?)\[\$\s?2\s?\|\s?(.*?)\](.*)$/);
            if (parsedMessage !== null && parsedMessage.length === 6) {
                document.getElementById('tagger').textContent = '';
                var preLocalised1 = document.createElement('div'); var preLocalised2 = document.createElement('div'); var preLocalised3 = document.createElement('div');
                preLocalised1.id = 'tagger1'; preLocalised2.id = 'tagger2'; preLocalised3.id = 'tagger3'; preLocalised1.style.display = preLocalised2.style.display = preLocalised3.style.display = 'inline';
                var preLocalisedLink1 = document.createElement('a'); var preLocalisedLink2 = document.createElement('a');
                preLocalisedLink1.id = 'taggerLink1'; preLocalisedLink2.id = 'taggerLink2'; preLocalisedLink1.style.display = preLocalisedLink2.style.display = 'inline';
                preLocalisedLink1.href = 'https://meta.wikimedia.org/wiki/User:Hoo_man/Scripts/Tagger'; preLocalisedLink1.rel = 'noopener noreferrer'; preLocalisedLink1.target = '_blank';
                preLocalisedLink2.href = 'https://meta.wikimedia.org/wiki/Special:MyLanguage/User:Syum90/Warning_templates'; preLocalisedLink2.rel = 'noopener noreferrer'; preLocalisedLink2.target = '_blank';
                baseContent.appendChild(preLocalised1); baseContent.appendChild(preLocalisedLink1); baseContent.appendChild(preLocalised2); baseContent.appendChild(preLocalisedLink2); baseContent.appendChild(preLocalised3);
                document.getElementById('tagger1').textContent = parsedMessage[1]; document.getElementById('taggerLink1').textContent = parsedMessage[2]; document.getElementById('tagger2').textContent = parsedMessage[3]; document.getElementById('taggerLink2').textContent = parsedMessage[4]; document.getElementById('tagger3').textContent = parsedMessage[5];
            }

            var baseContent2 = document.getElementById('welcome-contact'); const localMessage2 = baseContent2.textContent;
            const parsedMessage2 = (event.data.orient === 'ltr') ? localMessage2.match(/^(.*?)\[\$1\|(.*?)\](.*?)\[\$2\|(.*?)\](.*)$/) : localMessage2.match(/^(.*?)\[\$\s?1\s?\|\s?(.*?)\](.*?)\[\$\s?2\s?\|\s?(.*?)\](.*)$/);
            if (parsedMessage2 !== null && parsedMessage2.length === 6) {
                document.getElementById('welcome-contact').textContent = '';
                var preLocalised12 = document.createElement('div'); var preLocalised22 = document.createElement('div'); var preLocalised32 = document.createElement('div');
                preLocalised12.id = 'contact1'; preLocalised22.id = 'contact2'; preLocalised32.id = 'contact3'; preLocalised12.style.display = preLocalised22.style.display = preLocalised32.style.display = 'inline';
                var preLocalisedLink12 = document.createElement('a'); var preLocalisedLink22 = document.createElement('a');
                preLocalisedLink12.id = 'contactLink1'; preLocalisedLink22.id = 'contactLink2'; preLocalisedLink12.style.display = preLocalisedLink22.style.display = 'inline';
                preLocalisedLink12.href = 'http://ircredirect.toolforge.org/?server=irc.libera.chat&channel=swviewer&consent=yes'; preLocalisedLink12.rel = 'noopener noreferrer'; preLocalisedLink12.target = '_blank';
                preLocalisedLink22.href = 'https://discord.gg/UTScYTR'; preLocalisedLink22.rel = 'noopener noreferrer'; preLocalisedLink22.target = '_blank';
                baseContent2.appendChild(preLocalised12); baseContent2.appendChild(preLocalisedLink12); baseContent2.appendChild(preLocalised22); baseContent2.appendChild(preLocalisedLink22); baseContent2.appendChild(preLocalised32);
                document.getElementById('contact1').textContent = parsedMessage2[1]; document.getElementById('contactLink1').textContent = parsedMessage2[2]; document.getElementById('contact2').textContent = parsedMessage2[3]; document.getElementById('contactLink2').textContent = parsedMessage2[4]; document.getElementById('contact3').textContent = parsedMessage2[5];
            }
        }
        // window.parent.document.getElementById("page-welcome").style.display = "block";
    }

    window.addEventListener("message", getMessage, false);
    function sandwichLocalisationWelcome(baseContent, dirLocal, localMessage, targetEl, patternType, parsedLen, styleEl, uniqId, linkLocalisation, baseAdd = false) {
        var parsedMessage;
        if (patternType === "link")
            parsedMessage = (dirLocal === 'ltr') ? localMessage.match(/^(.*?)\[\$link\|(.*?)\](.*)$/) : localMessage.match(/^(.*?)\[\$\s?link\s?\|\s?(.*?)\](.*)$/);
        else {
            if (patternType === "name")
                parsedMessage = (dirLocal === 'ltr') ? localMessage.match(/^(.*?)\$1(.*)/) : localMessage.match(/^(.*?)\$\s?1(.*)/);
            else
                parsedMessage = (dirLocal === 'ltr') ? localMessage.match(/^(.*?)\[\$1\|(.*?)\](.*)$/) : localMessage.match(/^(.*?)\[\$\s?1\s?\|\s?(.*?)\](.*)$/);
        }
        if (parsedMessage !== null && parsedMessage.length === parsedLen) {
            targetEl.textContent = '';
            var preLocalisedEl1 = baseContent.createElement('div');
            var preLocalisedEl2 = (linkLocalisation === false) ? baseContent.createElement('div') : baseContent.createElement('a');
            var preLocalisedEl3 = baseContent.createElement('div');
            preLocalisedEl1.id = 'localisedEl' + uniqId + '1';
            preLocalisedEl2.id = 'localisedEl' + uniqId + '2';
            preLocalisedEl3.id = 'localisedEl' + uniqId + '3';
            preLocalisedEl1.style.display = preLocalisedEl2.style.display = preLocalisedEl3.style.display = styleEl;
            if (linkLocalisation !== false) {
                preLocalisedEl2.href = linkLocalisation;
                preLocalisedEl2.rel = 'noopener noreferrer';
                preLocalisedEl2.target = '_blank';
            }

            targetEl.appendChild(preLocalisedEl1); targetEl.appendChild(preLocalisedEl2); targetEl.appendChild(preLocalisedEl3);
            if (baseAdd !== false)
                baseContent = baseAdd;
            baseContent.getElementById('localisedEl' + uniqId + '1').textContent = parsedMessage[1];
            if (parsedLen === 3) {
                baseContent.getElementById('localisedEl' + uniqId + '2').textContent = 'SWViewer';
                baseContent.getElementById('localisedEl' + uniqId + '3').textContent = parsedMessage[2];
            } else {
                baseContent.getElementById('localisedEl' + uniqId + '2').textContent = parsedMessage[2];
                baseContent.getElementById('localisedEl' + uniqId + '3').textContent = parsedMessage[3];
            }
        }
    }

</script>
<script async>
    document.getElementById('statForm').addEventListener('submit', (e) => searchStat(e, window.parent.locale), false);
    function numberLocale(x, locale) {
        return parseInt(x).toLocaleString(locale);
        // return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    function searchStat (e, locale) {
        if (e !== undefined && e !== null) e.preventDefault();
        document.getElementById('statContainer').classList.add('disabled');
        var stats = ['rollback', 'del', 'undos', 'edits', 'report', 'warn', 'protect'];
        stats.forEach((action) => document.getElementById(action + 'Span').textContent = '0');
        document.getElementById('totalSpan').textContent = '0';
        var stateSearchPhrase = document.getElementById('statInput').value;
        fetch('./../php/welcome-stats.php', {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ user: stateSearchPhrase })
        }).then((response) => response.json())
            .then((statsObj) => {
                let totalStats = 0;
                stats.forEach((action) => {
                    totalStats += parseInt(statsObj[action]);
                    document.getElementById(action + 'Span').textContent = (isNaN(statsObj[action]) || statsObj[action] === null) ? '' : numberLocale(statsObj[action], locale);
                });
                document.getElementById('totalSpan').textContent = (isNaN(totalStats)) ? '' : numberLocale(totalStats, locale);
                document.getElementById('statContainer').classList.remove('disabled');
            }).catch((error) => console.error(error));
    }
    searchStat(null, window.parent.locale);
</script>
</body>

</html>